*{
  margin:0;
}
body{

  justify-content: center;
  margin-left: 40px; 
}

.main-div{
  width:600px;
}
.app{
  
  background-color: white;
  margin-top: 30px; 

}
.nav{ 
  width:600px;
  color: white; 
  background-color: blueviolet;
  font-size: 15px;
  height:80px;
  box-shadow: 0px 3px 3px 2px black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav>h2{
text-align: left;
margin-left:10px;
}
nav>h3{
  font-size: 14px;
  text-align: right;
  margin-right:10px; 
}
.troll-face{
height:20px;
margin-right:10px;
}

.form{
  
  background-color: grey; 
  display: grid;
  box-shadow: 0px 3px 3px 2px black;
  grid-template-columns: 45px 250px 10px 250px 45px;
  grid-template-rows: repeat(22, 27px);  
 
}
.left-input{
grid-column: 2/3;
grid-row: 2/3;
border-radius: 10px;
}
.right-input{
  grid-column: 4/5;
  grid-row: 2/3;
  border-radius: 10px;
  }

  .get-meme-button{
    font-size: 20px;
    color: white;
    grid-row: 4/6;
    grid-column: 2/5;
    border-radius: 10px;
    background-color: blueviolet;
  }

  .meme-img{
    width: 100%;
    height: 100%;
   border: 1px solid black;
    grid-row: 8/19;
    grid-column: 2/5;
  }

  .top-text{
    font-size: 40px;
    text-align: center;
    grid-row: 9/10;
    grid-column: 2/5;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  }

  .bottom-text{
    font-size: 40px;
    text-align: center;
    grid-row: 17/18;
    grid-column: 2/5;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  }
  .div-list{
    display: grid;
 background-color: black;
    height:200px;
    width:200px;
    margin: 0;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(8, 25px);
  }

  .meme-img-list{
grid-column: 1/-1;
grid-row: 1/-1;
    width:100%;
    height:100%;
  }

  .top-text-list{
    font-size: 25px;
    color:white;
    text-align: center;
    grid-column: 1/-1;
    grid-row: 2/3;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  }
  .bottom-text-list{
    font-size: 25px;
    color:white;
    text-align: center;
    grid-column: 1/-1;
    grid-row: 7/8;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  }

  .ul-list{
    overflow: scroll;
    margin-top: 20px;
padding:0;
    display: grid;
    gap:10px;
    grid-template-columns: repeat(100, 200px);
  
  }